.registration_form {
	display: inline-block;
    position: relative;
    width: 760px;
    height: 1700px;
    margin: 0;
}

.shop_registration {
	position: relative;
	top: -140px;
	left: -285px;
	font-size: 30px;
}

.shop_name_span {
	position: relative;
    float: left;
    top: 0px;
    font-size: 16px;
    color: #444;
}

.shop_title {
	clear: both;
    position: relative;
    float: left;
    top: 7px;
    /* left: -78px; */
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
}

.shop_addr_span {
	clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    top: 50px;
    /* left: -469px; */
    color: #444;
}

.shop_addr {
	clear: both;
    position: relative;
    float: left;
    top: 55px;
    /* left: 5px; */
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
}

.shop_addr2 {
	position: relative;
    float: left;
    top: 60px;
    /* left: 43px; */
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
}

.shop_location_span {
	clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    top: 100px;
    /* left: -429px; */
    color: #444;
}

.shop_location {
	clear: both;
    position: relative;
    float: left;
    width: 466px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 105px;
    /* left: 52px; */
    font-size: 13px;
}

.shop_id_span {
	clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 145px;
    /* left: -421px;*/
}

.shop_id {
    clear: both;
    position: relative;
    float: left;
    top: 150px;
    /* left: 43px; */
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
}

.food_type_span {
    clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 190px;
    /* left: -430px;*/
}

.food_type {
	clear: both;
    position: relative;
    float: left;
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 195px;
    /* left: 24px;*/
}

.budget_span {
	clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 230px;
    /* left: -449px;*/
}

.budget {
	position: relative;
    float: left;
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 235px;
    /* left: 43px; */
    clear: both;
}

.shop_tip_span {
    clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 275px;
    /* left: -429px;*/
}

.shop_tip {
    position: relative;
    float: left;
    width: 460px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 280px;
    /* left: 43px; */
    text-align: top;
    clear: both;
}

.shop_comment_span {
    clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 320px;
    /* left: -431px;*/
}

.shop_comment {
    clear: both;
    position: relative;
    float: left;
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 325px;
    /* left: 59px;*/
}

.shop_phone_span {
    clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 365px;
    /* left: -414px;*/
}

.shop_phone {
	clear: both;
    position: relative;
    float: left;
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 370px;
    /* left: 107px;*/
}

.shop_time_span {
    clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 420px;
    /* left: -365px;*/
}

.shop_time1 {
    clear: both;
    position: relative;
    float: left;
    width: 70px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 430px;
    /* left: -472px;*/
}

.shop_time_span2 {
	position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 435px;
    /* left: -469px;*/
}
.shop_time_span3 {
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 435px;
    /* left: 92px;*/
}
.shop_time_span4 {
    position: relative;
    float: left;
    color: #444;
    top: 427px;
    /* left: 100px; */
    font-size: 25px;
}
.shop_time_span5 {
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 435px;
    /* left: 105px;*/
}
.shop_time_span6 {
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 435px;
    /* left: 116px;*/
}

.shop_time2 {
    position: relative;
    float: left;
    width: 70px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 430px;
    /* left: 86px;*/
}
.shop_time3 {
    position: relative;
    float: left;
    width: 70px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 430px;
    /* left: 104px;*/
}
.shop_time4 {
    position: relative;
    float: left;
    width: 70px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 430px;
    /* left: 108px;*/
}
.shop_addinfo_span {
    clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 475px;
    /* left: -339px;*/
}

.shop_addinfo {
    clear: both;
    position: relative;
    float: left;
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 480px;
    /* left: 70px;*/
}

.shop_tb_span {
	position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 520px;
    /* left: -402px; */
    clear: both;
}

.shop_tb {
	clear: both;
    position: relative;
    float: left;
    width: 466px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 525px;
    /* left: 43px; */
    font-size: 13px;
}

.shop_alcohol_span {
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 570px;
    /* left: -429px; */
    clear: both;
}

.shop_alcohol {
    position: relative;
    float: left;
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 575px;
    /* left: 40px; */
    clear: both;
}

.shop_car_span {
clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 625px;
    /* left: -431px;*/
}

.shop_car {
    clear: both;
    position: relative;
    float: left;
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 630px;
    /* left: 32px;*/
}

.shop_close_span {
	clear: both;
    position: relative;
    float: left;
    font-size: 16px;
    color: #444;
    top: 680px;
    /* left: -438px;*/
}

.shop_close {
    clear: both;
    position: relative;
    float: left;
    width: 460px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    top: 685px;
    /* left: 51px;*/
}

.SHOP_PHOTO {
	position: relative;
	float: left;
	top: 1000px;
}

#preview img {
	width: 100px;
	height: 100px;
}

#preview p {
	text-overflow: ellipsis;
	overflow: hidden;
}

.preview-box {
	border: 1px solid;
	padding: 5px;
	border-radius: 2px;
	margin-bottom: 10px;
}

.shop_photo_span {
	clear: both;
    position: relative;
    float: left;
    top: 742px;
    color: #444;
    font-size: 16px;
    /* left: -420px;*/
}

.shop_photo {
    position: relative;
    float: left;
    top: 741px;
    /* left: -100px;*/
}

#image_container {
    position: relative;
    float: left;
    width: 725px;
    height: 300px;
    top: 940px;
}
.buisness_submit {
	clear: both;
    position: relative;
    float: right;
    top: 573px;
    left: 75px;
    width: 100px;
    height: 50px;
    background-color: #ffa500;
    border: 1px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    line-height: 45px;
}
