@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

hr{border-top: 1px solid lightgray;margin-top: 15px;}
#review_wrap{
	width : 730px;		
}
#review_write_wrap{
	background-color: white;
}

#review_wrap #review_write_wrap{
	padding : 30px;
	border: 1px solid #e8e8e8;
}
#review_wrap #review_title{
	color : #444;
	font-size: 15px;
	font-weight: 600;
	margin : 0 0 30px 0;
	font-family: 'Noto Sans KR', sans-serif;
}
#review_wrap #list{
	list-style: none;
}
#review_wrap .item{
	width : 660px;
	display: inline-block;
	margin-bottom: 10px;
}
#review_wrap .item > div,textarea{
	display: inline-block;
	float : left;
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
#review_wrap .item.text > textarea{
	overflow-y: auto;
    resize: none;
    width: 545px;
    height: 84px;
    border: 1px solid #d0d0d0;
    font-size: 11px;
    color: #444;
    padding: 8px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}
#review_wrap li{
	display: inline-block;
}
#review_wrap #star_score{
	width: 540px;
	height : 23px;
	padding : 0px;
}
#review_wrap #star_span{
	height: 100%;
	display: inline-block;
}
#review_wrap #review_submit{
	margin-top : 10px;
	margin-bottom : 40px;
	width : 730px;
	height : 40px;
	font-size: 13px;
    color: #fff;
    border: 1px solid #f05e23;
    background: #f05e23;
    border-radius: 4px;
    cursor: pointer;
}
#review_wrap .list_name{
	width : 105px;
	height : 23px;
	font-size: 13px;
	box-sizing: border-box;
	margin : 0;
	line-height: 23px;
}
#review_wrap .title{
	font-size: 16px;
    font-weight: 600;
    color: #444;
   
}
#review_wrap #sort_wrap{
	float: none;
    margin-bottom: 10px;
}
#review_wrap .sort_list{
	float : right;
	margin-bottom: 5px;
    font-size: 9pt;
    list-style: none;
}
#review_wrap .sort_list > li{
	cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #444;
}
#review_wrap .sort_list > li:last-child{
    border:none;
}
#review_wrap .author{
	display: inline-block;	
}
#review_wrap .review{
	position: relative;
    width: 730px;
    padding: 30px 44px;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    background: #fff;
    display: inline-block;
    box-sizing: border-box;
}
#review_wrap .thumbnail{
	display: inline-block;
	width: 45px;
    height: 45px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    margin-right: 13px;
}
#review_wrap .info{
	display: inline-block;
	vertical-align: super;
}
#review_wrap a{
	text-decoration: none;	
}
#review_wrap .name{
	color: #323232;
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 13px;	
}
#review_wrap .stat{
	font-size : 12px;
	color : #828282;
}
#review_wrap .star_grade{
	margin-bottom: 10px;
	display: inline-block;
	margin-top : 10px;
}
#review_wrap .star_grade > *{
	float : left;	
}
#review_wrap .grade{
	width: 580px;
	height: 19px;
}
#review_wrap .text{
	clear : both;
	font-size: 13px;
	margin-bottom: 15px;
	color : #323232;
}

#review_wrap .score,.comment{
	vertical-align: super;
	font-size: 13px;
}
#review_wrap .image{
	background-size: cover;
	background-position: center center;
}
#review_wrap .photo{
	margin-bottom: 15px;
	display: block;
}
#review_wrap .photo > button{
	position: relative;
    width: 80px;
    height: 80px;
    margin-right: 6px;
}
#review_wrap .photo i{
	width: 100%;
	height: 100%;
	float : left;
}
#review_wrap .action i{
	margin-right: 3px;
}
#review_wrap .action  button:hover{
	cursor : pointer;
	color : #f05e23;
	border-color: #f05e23;
}
#review_wrap .far.fa-thumbs-up,.far.fa-thumbs-down,.far.fa-comment-dots{
	font-size: 15px;
}
#review_wrap .action p:hover{
	border-right: 1px solid #f05e23;
}
#review_wrap .action p{
	border-right: 1px solid #969696;
	padding-right: 2px;
}
#review_wrap .action span{
	margin-left : 3px;
	font-size: 11px;
}
#review_wrap .action button>*{
	display: inline-block;
    font-size: 11px;
    vertical-align: middle;
}
#review_wrap .action button{
	line-height: 27px;
    padding: 0 3px;
    border: 1px solid #969696;
    color: #969696;
    background: #fff;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 0;
}	
#review_wrap .write{
	margin-top : 15px;
	display : inline-block;
}
#review_wrap form{
	display: inline-block;
}
#review_wrap .write > *{
	display : inline-block;
	float : left;
}
#review_wrap.write_area{
	margin-top: 5px;
	width: 540px;
    height: 21px;
    margin-left: 10px;
    border: 1px solid #969696;
    border-radius: 5px;
    background: 0;
    resize: none;
    overflow: hidden;
    vertical-align: middle;
    padding: 5px 10px;
}
#review_wrap.grade_comment{
	display : inline-block;
	vertical-align: super;
	font-size: 13px;
}
#review_wrap .grade_score{
	line-height: 24px;
	margin-left : 5px;
}
#review_wrap .grade_comment{
	line-height: 25px;
	margin-left : 5px;
}
.del > i{
	float : right;
 	cursor: pointer;
}
.jq-ry-container{
	padding: 0;
}