@charset "UTF-8";
html, body{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f3f3f3;
}

#notice_banner{
	margin-top: 58px;;
	padding: 0;
	height: auto;
	width: 100%;
	border: 1px soild red;
}
.notice_title{
	font-size: 2em;
	padding: 1% 25%;
	font-weight: bold;
}
#notice_list{
	padding-left: 25%;
	position: relative;
	width: 940px;
	margin-bottom: 30px;
}
#notice_list .notice_open{
	color: #55534c;
	border-bottom: 1px solid #e6e6e6;
	font-size: 15px;
	font-weight: bold;
	display:inline-block;
	width: 100%;
	padding: 15px;
	cursor: pointer;
	background-color: #fff;
}
#notice_list .notice_title{
	padding:0;
	font-size: 15pt;
}
#notice_list .notice_title>span{
	color: red;
	font-size: 15px;
}
#notice_list .notice_title>span>img{
	float: right;
	height: 10px;
	position: relative;
	top: 5px;
	background-color: #fff;
}
#notice_list .notice_body{
	border: 0px solid red;
	height: 200px;
	display: none;
	padding: 30px;
}
#no_notice{
	background-color: #fff;
	text-align: center;
	padding: 150px;
	font-size: 20px;
	font-weight:600;
	border-radius: 5px;
}
/* pagination */
#container{
    position: relative;
    border: 0px solid red;
    overflow: auto;
    display: flex;
    margin-bottom: 7%;
    text-align: center;
    justify-content: center;
}
#container>ul>li{
	list-style: none;
    float: left;
    padding: 10px 20px;
    color: black;
    background: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
}
#container>ul>li:hover{
	background-color: #ddd;
}
#pagination{
	display: flex;
    text-align: center;
}
#container a:link{
	color: #000;
}
#container a:hover {
	color: #000;
	font-weight: 600;
}