html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: subpixel-antialiased !important;
}
.pos_wrap{
	display: flex;
	border: 1px solid black;
	width: 1920px;
	height: 920px;
	background-color: lightgray;
}
#controll_div{
	border: 2px solid black;
	width: 26%;
	height : 100%;
}
#table_div{
	border: 2px solid black;
	height : 100%;
	width: 74%;
}
#table_div .shoptable{
	border: 1px solid white;
	width : 300px;
	height: 320px;
	display: inline-block;
	margin: 60px 80px;
	vertical-align: middle;
}
#table_div .shoptable > p{
	text-align: center;
	border-bottom: 1px solid black;
}
#table_div .shoptable div ul > li{
	margin-left: 30px;
}
#menu_div{
	height: 25%;
	border-bottom: 1px solid black;
}
#reserve_list{
	height: 36%;
	border: 2px solid black;
	
}
#reserve_list > p{
	text-align: center;
}
#reserve_list > #list{
	width: 100%;
	height: 303px;
	background-color: white;
	overflow-y: scroll;
}
#title_div{
	padding : 5px 0;
	text-align: center;
	border-bottom: 1px solid black;
}
.menu{
	cursor: pointer;
	text-align: center;
	margin:3px 0 0 3px;
	border:1px solid black;
	width: 90px;
	height:110px;
	display: inline-block;
	vertical-align: bottom;
	background-color: white;
}
.menu > span{
	display: block;
	margin: 20px 0;
}
#button_div{
	height: 3%;
}
#button_div > #payment{
	float: right;
}
#button_div > #add,#button_div > #cnt{
	float: left;
}
.selected{
	background-color: white;
}
.menuselected{
	background-color: yellow;
}
#payment_div{
	border:1px solid yellow;
	width:100%;
	height: 32%;
	background-color: white;
	font-size : 14px;
	overflow-y: scroll;
}
#payment_div > p{
	text-align: center;
	background-color: lightgray;
}

